<?xml version="1.0" encoding="utf-8"?>
<connectionStrings configBuilders="SitecoreConnectionStringsBuilder">
	<!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
	<add name="core" connectionString="Data Source=DESKTOP-P1TQSIU\MSSQLSERVER01;Initial Catalog=GettingStarted_Core;User ID=coreuser;Password=iQIgBmt4CeryQQtJikEF" />
	<add name="security" connectionString="Data Source=DESKTOP-P1TQSIU\MSSQLSERVER01;Initial Catalog=GettingStarted_Core;User ID=securityuser;Password=mt5zlamjtnaEz5fH7lIq" />
	<add name="master" connectionString="Data Source=DESKTOP-P1TQSIU\MSSQLSERVER01;Initial Catalog=GettingStarted_Master;User ID=masteruser;Password=AZspTZvHSNuVGACK3gtu" />
	<add name="web" connectionString="Data Source=DESKTOP-P1TQSIU\MSSQLSERVER01;Initial Catalog=GettingStarted_Web;User ID=webuser;Password=uXHoewA2UFCqg5fwFKTK" />
	<add name="messaging" connectionString="Data Source=DESKTOP-P1TQSIU\MSSQLSERVER01;Initial Catalog=GettingStarted_Messaging;User ID=messaginguser;Password=iUNgfgqhRYX2i1H6lhCv" />
	<add name="xdb.processing.pools" connectionString="Data Source=DESKTOP-P1TQSIU\MSSQLSERVER01;Initial Catalog=GettingStarted_Processing.Pools;User ID=poolsuser;Password=Suvrq6mv2nA8QcXDr6MB" />
	<add name="xdb.referencedata" connectionString="Data Source=DESKTOP-P1TQSIU\MSSQLSERVER01;Initial Catalog=GettingStarted_ReferenceData;User ID=referencedatauser;Password=my7gLmqtE7qSQlycYUY9" />
	<add name="xdb.processing.tasks" connectionString="Data Source=DESKTOP-P1TQSIU\MSSQLSERVER01;Initial Catalog=GettingStarted_Processing.Tasks;User ID=tasksuser;Password=55sdIHXmDqdGjTSDFA6J" />
	<add name="experienceforms" connectionString="Data Source=DESKTOP-P1TQSIU\MSSQLSERVER01;Initial Catalog=GettingStarted_ExperienceForms;User ID=formsuser;Password=IXjR2ZJNBr9E1qtOpSj2" />
	<add name="exm.master" connectionString="Data Source=DESKTOP-P1TQSIU\MSSQLSERVER01;Initial Catalog=GettingStarted_EXM.Master;User ID=exmmasteruser;Password=d2qaIgDOucdF3ve0e10w" />
	<add name="reporting" connectionString="Data Source=DESKTOP-P1TQSIU\MSSQLSERVER01;Initial Catalog=GettingStarted_Reporting;User ID=reportinguser;Password=EenTIdkPiBMpXqtf0djd" />
	<add name="sitecore.reporting.client" connectionString="https://GettingStartedxconnect.dev.local" />
	<add name="sitecore.reporting.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=15713EC32CA958407D691CB191CE87FF3674AD64" />
	<add name="solr.search" connectionString="https://localhost:8983/solr" />
	<add name="sitecoreidentity.secret" connectionString="XGFnjBxzL6odALplBbPMTIou3BSfROIbq5xSNvS7n8J5UgHWO8lH4EF5ryRKYqD8QYwdjrRcH7UuGsPIH5uqs217BqCJLLeebjKL" />
	<add name="xconnect.collection" connectionString="https://GettingStartedxconnect.dev.local" />
	<add name="xconnect.collection.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=15713EC32CA958407D691CB191CE87FF3674AD64" />
	<add name="xdb.marketingautomation.operations.client" connectionString="https://GettingStartedxconnect.dev.local" />
	<add name="xdb.marketingautomation.operations.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=15713EC32CA958407D691CB191CE87FF3674AD64" />
	<add name="xdb.marketingautomation.reporting.client" connectionString="https://GettingStartedxconnect.dev.local" />
	<add name="xdb.marketingautomation.reporting.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=15713EC32CA958407D691CB191CE87FF3674AD64" />
	<add name="xdb.referencedata.client" connectionString="https://GettingStartedxconnect.dev.local" />
	<add name="xdb.referencedata.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=15713EC32CA958407D691CB191CE87FF3674AD64" />
	<add name="EXM.CryptographicKey" connectionString="0x5751053690442392533589308821491492889153065377991665039202382670" />
	<add name="EXM.AuthenticationKey" connectionString="0x6415847419508685494007779342541931549606885342525763600893514141" />
	<add name="PackageManagementServiceUrl" connectionString="https://updatecenter.cloud.sitecore.net/" />
</connectionStrings>