@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecon.Feature.Navigation
@model Sitecon.Feature.Navigation.Models.PageTitle

<section class="title">
  <div class="container">
    <div class="row-fluid">
      <div class="span6">
        <h1>@Model.Title</h1>
      </div>
      <div class="span6">
        <ul class="breadcrumb pull-right">
          <li><a href="@Model.HomeLink">Home</a> <span class="divider">/</span></li>
          <li class="active">@Model.Title</li>
        </ul>
      </div>
    </div>
  </div>
</section>
