
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<body>
@Html.Partial("About_us_Title");
@Html.Partial("About_us_Body");
@Html.Partial("About_us_Company");
</body>
</html>