
@{
    //ViewBag.Title = "Privacy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="title">
    <div class="container">
        <div class="row-fluid">
            <div class="span6">
                <h1>Privacy Policy</h1>
            </div>
            <div class="span6">
                <ul class="breadcrumb pull-right">
                    <li>@Html.ActionLink("Home", "Index", "MyWebApp") <span class="divider">/</span></li>
                    <li><a href="#">Additional</a> <span class="divider">/</span></li>
                    <li class="active">Privacy Ploicy</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- / .title -->
<!-- Privacy-policy -->
<section id="privacy-policy" class="container">
    <h3>Donec lacinia volutpat</h3>
    <p> In fermentum lacus leo, vitae tempor ex faucibus in. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque eget pretium neque. Aliquam sed risus quis ipsum feugiat consequat. Vivamus malesuada arcu nec velit elementum, consequat scelerisque urna eleifend. Nullam tristique, libero at sagittis porta, felis nunc interdum urna, molestie accumsan massa nisi nec nisi. Vivamus pretium, risus tempor iaculis pharetra, leo leo feugiat tortor, elementum aliquet nulla velit id lacus. Maecenas lacinia ut felis ut fermentum. Sed ac ultrices quam, eu feugiat nibh. Nullam auctor urna in eros commodo, eu hendrerit nisl bibendum. Nullam placerat ultrices tortor, eget blandit felis dictum in. Pellentesque vitae metus efficitur, scelerisque nisl sit amet, tincidunt nisl. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <p>&nbsp;</p>
    <p>Nullam erat ex, placerat in ligula nec, vestibulum elementum turpis. Proin rutrum nisi vitae hendrerit pretium. Donec eu elit diam. Sed fermentum aliquam ex, eget viverra libero posuere non. Suspendisse mattis varius convallis. Donec eget blandit sapien, et tristique tortor. Cras tempus, mi vitae feugiat feugiat, ante ex ornare neque, sed facilisis magna erat at lorem. Nunc et congue velit, quis aliquam turpis. Nam porta luctus neque et luctus. Cras dapibus, nisl eget sodales pharetra, dui dui pulvinar diam, sed maximus orci quam non eros.</p>
    <p>&nbsp;</p>
    <p>Aenean quis mauris efficitur justo gravida accumsan vitae sed neque. Aenean ac nibh nulla. Ut et nulla metus. Integer iaculis tincidunt libero, nec tincidunt turpis sollicitudin quis. Sed placerat elit eu orci porta, at dignissim ipsum fermentum. Mauris eu iaculis lacus. Etiam nec congue lectus, at consequat tortor. Ut vel varius justo.</p>
    <p>&nbsp;</p>
    <p>Duis non tincidunt ex. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec sit amet dui turpis. Sed luctus, leo ac ornare vulputate, metus neque feugiat massa, a porttitor est sem at metus. Nunc ante magna, aliquet vel tincidunt ut, feugiat id lorem. Nam ac lectus viverra elit eleifend pretium. Phasellus fringilla at velit ut dapibus.</p>
    <p>&nbsp;</p>
    <p>Praesent viverra vulputate augue, hendrerit volutpat nisi tempus id. Duis vitae laoreet lacus. Vivamus semper nisi sem, accumsan tristique felis facilisis non. Vivamus egestas lacus sed bibendum aliquam. Vivamus imperdiet risus eget lacinia rhoncus. Duis rhoncus felis dui. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis non viverra elit.</p>
    <p>&nbsp;</p>
    <p>Cras ac felis vehicula, mattis diam eu, placerat ex. Donec mauris ante, feugiat in massa et, rhoncus iaculis tellus. Nunc varius nisi et risus blandit placerat. Cras ac aliquet elit, vitae faucibus mi. Donec pharetra nulla eget luctus tristique. In hac habitasse platea dictumst. Donec posuere diam turpis, et posuere est luctus in. Nulla in metus vitae neque venenatis pharetra nec eu velit. Proin elit nulla, iaculis a tortor at, gravida ultricies orci. Vestibulum ultrices nunc eget scelerisque tincidunt. Integer pulvinar iaculis est eget dapibus.</p>
    <p>&nbsp;</p>
    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer ultrices sem eu iaculis commodo. Suspendisse semper porta magna at faucibus. Donec aliquam, nisi ac faucibus laoreet, lorem est interdum nibh, vitae fermentum neque velit eget quam. Fusce molestie aliquet metus id finibus. Integer eleifend commodo erat ut placerat. Sed commodo ex sed posuere blandit. Curabitur sit amet diam eu ligula ornare auctor. </p>
    <p>&nbsp;</p>
</section>
<!-- /privacy-policy -->
